@font-face {
font-family: sans-serif;
}
* {
/* border: solid red 1px; */
box-sizing: border-box;
font-family: sans-serif;
color: black;
}

html{
  width: 100%;
  height: 100%;
}
body{
  width: 99%;
  height: 100%;
}
header{
  position: sticky;
  top:8px;
  background-color: #edd490;
  display: flex;
  justify-content: space-around;
  /* margin-right: 5%; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  /* text-shadow: 1px 1px green; */
  z-index: 5;
}
nav {
  background-color: rgba(220,218,214, 1);
  position: sticky;
  top: 209.5px;
  border-top: 5px solid #2a4b2e;
  /* margin-right: 1%;
  margin-left: 1%; */
  padding-bottom: .3%;
  display: flex;
  justify-content: space-around;
  z-index: 5;
}
.nav{
  background-color: #df1e1e;
  font-style: oblique;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: .3%;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.nav:hover{
  background-color: rgba(255,0,0,.2);
  transition: .5s;
  font-style: normal;
}
#nombre {
  width: 80%;
  justify-content: center;
  transition: 1s;
}
.escondido:target ~ header{
  padding-right: 15%;
}
#descrp{
  padding-right: 5%;
  padding-left: 5%;
}
#miFoto{
  width: 20%;
  padding-top:1%;
  padding-bottom:.8%;
}
#miFotoMarco{
  border: outset 7px #2a4b2e;
}
body{
  text-align: center;
  color: white;
  background-color: #dcdad6;
}
main{
 margin-top: 1%;
}

.escondido{
  transition: opacity 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  transition: 1s ease;
  top: 5;
}
.escondido:target{
  opacity: 1;
  height: auto;
}
#inicio{
  margin-top:3%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  transition: 2s ease;
}
.escondido:target ~ #navInicio{
  display: none;
}
#Estudios{
  display: grid;
  grid-template-columns: 20% 40% 40%;
  text-align: justify;
}
#ExpLaboral{
  display: grid;
  grid-template-columns: 20% 40% 40%;
  text-align: justify;
}
#Intereses{
  display: grid;
  grid-template-columns: auto auto;
  text-align: justify;
}
#Idiomas{
  /* border: outset 2px #2a4b2e; */
  display: flex;
  width: 100%;
  text-align: justify;
}
#II{
  width: 50%;
  padding-right:1%;
}
#ID{
  width: 50%;
}
#Portfolio{
  /* border: outset 2px #2a4b2e; */
  display: block;
  width: 100%;
  text-align: justify;
  /* z-index: 1; */
}
#navCV{
  display: block;
  justify-content: space-around;
  /* margin-left: 15%; */
}
#navCover{
  display: block;
  justify-content: space-around;
}
#gif{
  margin-left: 25%;
  margin-top: 1%;
  border: 20px groove #2a4b2e;
}
iframe{
  top: 250;
  border: 5px groove #2a4b2e;
}
#fotoHeader{
  opacity: 0;
  position: fixed;
  top: 5%;
  left: 85%;
  /* top: 30px;
  left: 1250px; */
  z-index: 10;
  transition: 1.5s ease-in-out;
  border: 10px groove #2a4b2e;
}
.escondido:target ~ #fotoHeader{
  opacity: 1;
}
h2{
  border-bottom: solid 2px #df1e1e;
}
.logoEmpresa{
  width: 50%;
  padding-left: 20%;
  padding-right: 5%;
}
#logoReta{
  width: 40%;
  padding-left: 22%;
}
.fila1{
  grid-row: 1/2;
  grid-column: 1/4;
}
.fila2{
  grid-row: 2/3;
  grid-column: 1/2;
}
.fila22{
  grid-row: 2/3;
  grid-column: 2/4;
}
.fila3{
  grid-row: 3/4;
  grid-column: 1/4;
  padding-left: 20%;
  padding-right: 5%;
  padding-bottom: 1%;
  border-bottom: solid .5px #df1e1e;
}
.fila4{
  grid-row: 4/5;
  grid-column: 1/2;
}
.fila44{
  grid-row: 4/5;
  grid-column: 2/4;
}
.fila5{
  grid-row: 5/6;
  grid-column: 1/4;
  padding-left: 20%;
  padding-right: 5%;
  border-bottom: solid .5px #df1e1e;
  padding-bottom: 1%;
}
.fila6{
  grid-row: 6/7;
  grid-column: 1/2;
}
.fila66{
  grid-row: 6/7;
  grid-column: 2/4;
}
.fila7{
  grid-row: 7/8;
  grid-column: 1/4;
  padding-left: 20%;
  padding-right: 5%;
  border-bottom: solid .5px #df1e1e;
  padding-bottom: 1%;
}
a {
    text-decoration: none;
}
